body{background-color:#f2f2f2;}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* WebKit*/
    color:    #666;
}
input:-moz-placeholder,
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #666;
}
input::-moz-placeholder,
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #666;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* IE 10+ */
    color:    #666;
}

/*menu list*/
.datebox{border:1px solid #d3d3d3;border-radius:4px;}
.content,.datarea{margin:30px;padding:20px;background-color:#fff;border-bottom:2px solid #cdcdcd;}
.content .title,.datarea .title{overflow: hidden;padding-bottom:20px;font-size:16px;border-bottom:1px solid #c6c6c6;}
.title span {
    font-weight: normal;
}
.search-term{margin-top: 10px;margin-bottom: 10px;}
.condition{display:inline-block;width:91%;margin-bottom:10px;}
.condition.perscent80{width:80%;}
.navbtns{position: relative;top: 2px;float: right;}
.condition input,.condition select{width:160px;height:26px;line-height:26px;margin-right:16px;border:1px solid #d3d3d3;border-radius:4px;}
.condition .textbox{height:24px;line-height: 24px!important}
.condition select{position:relative;top:2px;width:110px;height:26px!important;line-height:26px!important;}
.datebox .combo-arrow{background-position: center 4px;}
.condition .samew{width:160px;}

/*workbench*/
.datalist li{float:left;width:19%;height:130px;margin-top:20px;margin-right:1.2%;font-size:16px;text-align:center;background-color:#5faee3;color:#fff;}
.datalist li:last-child{margin-right:0;float:right;}
.datalist .name{margin-top:20px;}
.datalist .data{margin-top:4px;font-size:40px;}
.datarea{overflow:hidden;}
.reference{position:relative;overflow: hidden;}
.dateArea{font-size: 14px}
.datarea .reference{border-color:#6eb5e5 ;}
.datarea .tborder{border-color:#f86b4f ;}
/*标识*/
.backTag{
    position:absolute;
    display:inline-block;margin-left: 10px;
    width:45px;text-align:center;height:20px;line-height:19px;
    background-color: #FD4464;color:#fff;border-radius: 3px;
    -ms-transform:scale(.9); /* IE 9 */
    -moz-transform:scale(.9); /* Firefox */
    -webkit-transform:scale(.9); /* Safari and Chrome */
    -o-transform:scale(.9); /* Opera */transform: scale(.9);
   box-shadow:0 0 2px #e43856 inset;
}
.pT1{
    position: relative;
    top: -1px;
}