/*优惠券编辑弹窗*/
.list-box{margin:10px 0;overflow: auto;height:92%}
.list-box>p {
    padding: 8px 0;
    overflow: hidden;
}
.list-box>p>span.text-box {
    width: 49%;
    display: inline-block;
}
.list-box>p>span>i {
    display: inline-block;
    width: 120px;
    font-style: normal;
}
.list-box>p>span.text-box textarea, .list-box>p>span.text-box input, .list-box>p>span.text-box select {
    width: 160px;height:26px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}
.textbox-text{border:1px solid transparent!important}
.checkspan .text-box label {
    display: inline-block;
    width: auto;
    margin: 0;
}
.dot,.hint{color:red;}
.textbox-text{border:none;}
.checkspan label input:first-child {
    display: none;
}
.checkspan label .icon {
    position: relative;
    top: 3px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: url(../img/no.png) center;
    margin-right: 20px;
}
.checkspan input:checked+.icon {
    background: url(../img/yes.png) center;
}
.w100 {
    width: 100% !important;
}
.positionT30 {
    position: relative;
    top: -50px;
}
.positionT2{
    position: relative;
    top: 2px;
}
.pT2{
    position: relative;
    top: -2px;
}
/*优惠券种类*/
.couponBox{margin:10px 0 10px 120px;width:700px}
.couponBox .selectBox {
    float: left;
    margin-right: 30px;
    text-align: center;
}
.menu-title{margin-bottom: 6px}
.menu-title select{
    width:200px;
    height:26px;
    border: 1px solid rgb(217, 217, 217);
}
 .menu-select li {
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.couponBox .circle {
    background-color: #4778c7;
    border-radius: 999px;
    display: inline-block;
    height: 4px;
    margin-bottom: 2px;
    margin-right: 8px;
    width: 4px;
}
.selectBox .spread-select {
    background-color: white;
    border: 1px solid rgb(217, 217, 217);
    height: 210px;
    margin: 0 auto;
    width: 200px;
    padding-left: 0;
}
.selectBox .spread-select2 {
    height: 242px;
}
.selectBox select option {
    border-bottom: 1px dashed #d3d3d3;
    height: 30px;
    line-height: 18px;
    padding: 6px 0;
    text-align: center;
    box-sizing: border-box;
}
.selectBox .icons:first-child {
    margin-top: 40px;
}
.selectBox .icons {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #ccc;
    cursor: pointer;
    display: block;
    margin: 10px 0;
    padding: 5px 0;
    width: 100px;
}
/*添加优惠券*/
.searchIcon{
    display: inline-block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #15a2dc;
    border-color: #15a2dc;
    color: #fff;
    border-radius: 3px;
    padding: 0 15px;
}
.searchIcon i {
    font-size: 16px;
    margin: 0 3px 0 -7px;
}
.title-text{font-size: 16px}

